body {font-family: sans-serif;}
h1 {text-align: center;}
#steps_selector {width: 200px;}
#container_canvas {width: 1000px; margin: auto;}
#container_controls {width: 400px; margin: auto; background-color: #f3f3f3;}
p {text-align: center;}
div {text-align: center; padding: 10px 0px 2px 0px;}

.btn {
    font-family: sans-serif;
    color: #f3f3f3;
    background: #A84138;
    width: 150px;
    padding: 5px 0px 5px 0px;
    border: none;
    cursor: pointer;
    border: solid 1px #FFFFFF;
}

.btn:focus {outline: 0;}

.btn:hover {
    color: #000000;
    background: #f3f3f3;
    border: solid 1px #000000;
    font-weight: bold;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #A84138;
    width: 10px;
    height: 26px;
}

.rng:focus {outline: 0;}